<footer>
  <hr>
  <div class="footer-content">
    <small>
      {%- if page.layout == 'cv' -%}
        <a href="https://linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a> &middot;
        <a href="https://github.com/{{ site.author.github }}">GitHub</a>
      {%- else -%}
        Made in <a href="https://en.wikipedia.org/wiki/Montreal" title="Montr&eacute;al">Montr&eacute;al</a> with love by <a href="{{ site.baseurl }}{% link about.md %}" title="who is this guy?">Nadav Ami</a> &middot;
        <a href="/license/">Fine print</a>
      {%- endif -%}
    </small>
    <small>{% include theme-toggle.html %}</small>
  </div>
</footer>
