<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="{{ site.url }}/public/me.jpg" property="og:image">
  {% if page.title %}
  <meta content="article" property="og:type">
  <meta content="{{ page.title }}" property="og:title">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}

  {% capture og_image %}
    {% assign first_post_image = page.content | match_regex: '<img .*?src="([^"]+)"' %}
    {% if first_post_image == nil %}
      {% assign first_post_image = "/public/me.jpg" | prepend: site.url %}
    {% else %}
      {% assign first_post_image = first_post_image | prepend: page.url | prepend: site.url %}
    {% endif %}
    {{ first_post_image }}
  {% endcapture %}

  <meta property="og:image" content="{{ og_image | strip }}">

  <title>
    {% if page.title != "Home" %}{{ page.title }} &middot; {% endif %}{{ site.title }}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
