<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="{{ page.title }}" property="og:title">
  {%- unless page.id %}
  <meta content="website" property="og:type">
  {%- else %}
  <meta content="article" property="og:type">
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
  {%- assign og_image = page.content | match_regex: '<img .*?src="([^"]+)"' -%}
  {%- if og_image %}
  <meta content="{{ og_image | prepend: page.url | prepend: site.url | strip }}" property="og:image">
  {%- endif %}
  {%- endunless %}

  <title>
    {% if page.title != "Home" %}{{ page.title }} &middot; {% endif %}{{ site.title }}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">

  {% if site.analytics_id %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.analytics_id }}');
  </script>
  {% endif %}
</head>
